# Build directories
build*/
out/

# Visual Studio & CMake
.vs/
CMakeUserPresets.json

# Assets (binary files, generated models, etc.)
assets/
temp_textures/

# Logs
logs/
unit_test_logs/

# Compiled Shaders
*.spv